<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.26</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:p1gmale0n</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:p1gmale0n</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:p1gmale0n</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:p1gmale0n</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:p1gmale0n</permission>
    <permission>hudson.model.Computer.Build:p1gmale0n</permission>
    <permission>hudson.model.Computer.Configure:p1gmale0n</permission>
    <permission>hudson.model.Computer.Connect:p1gmale0n</permission>
    <permission>hudson.model.Computer.Create:p1gmale0n</permission>
    <permission>hudson.model.Computer.Delete:p1gmale0n</permission>
    <permission>hudson.model.Computer.Disconnect:p1gmale0n</permission>
    <permission>hudson.model.Hudson.Administer:p1gmale0n</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:p1gmale0n</permission>
    <permission>hudson.model.Hudson.Read:p1gmale0n</permission>
    <permission>hudson.model.Hudson.RunScripts:p1gmale0n</permission>
    <permission>hudson.model.Hudson.UploadPlugins:p1gmale0n</permission>
    <permission>hudson.model.Item.Build:p1gmale0n</permission>
    <permission>hudson.model.Item.Cancel:p1gmale0n</permission>
    <permission>hudson.model.Item.Configure:p1gmale0n</permission>
    <permission>hudson.model.Item.Create:p1gmale0n</permission>
    <permission>hudson.model.Item.Delete:p1gmale0n</permission>
    <permission>hudson.model.Item.Discover:p1gmale0n</permission>
    <permission>hudson.model.Item.Move:p1gmale0n</permission>
    <permission>hudson.model.Item.Read:p1gmale0n</permission>
    <permission>hudson.model.Item.Workspace:p1gmale0n</permission>
    <permission>hudson.model.Run.Delete:p1gmale0n</permission>
    <permission>hudson.model.Run.Replay:p1gmale0n</permission>
    <permission>hudson.model.Run.Update:p1gmale0n</permission>
    <permission>hudson.model.View.Configure:p1gmale0n</permission>
    <permission>hudson.model.View.Create:p1gmale0n</permission>
    <permission>hudson.model.View.Delete:p1gmale0n</permission>
    <permission>hudson.model.View.Read:p1gmale0n</permission>
    <permission>hudson.scm.SCM.Tag:p1gmale0n</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>e56b15776c926d446039</clientID>
    <clientSecret>vHXUoljalCX4yy90FY6U7Z5Sxf7eKRP7yrWRG58cyvAmCeskbWFy1sN/8ufE/t2bwtLSiBoQvFroBl9QoC3Lgw==</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string>DISPLAY</string>
          <string>:20</string>
          <string>SS_TEST_NODE</string>
          <string>52.59.236.52</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>