<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@2.9.2">
      <branch class="jenkins.branch.Branch$Dead" plugin="branch-api@1.11.1">
        <sourceId>::NullSCMSource::</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.PullRequestSCMHead" plugin="github-branch-source@1.10">
          <name>PR-2</name>
          <metadata>
            <number>2</number>
            <url>https://github.com/p1gmale0n/getSlackName/pull/2</url>
            <title>Update Jenkinsfile</title>
            <userLogin>p1gmale0n</userLogin>
            <baseRef>master</baseRef>
          </metadata>
          <merge>true</merge>
          <trusted>true</trusted>
        </head>
        <scm class="hudson.scm.NullSCM"/>
        <properties class="java.util.concurrent.CopyOnWriteArrayList"/>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@2.9.2"/>
  <triggers/>
</flow-definition>