<?xml version="1.0" encoding="UTF-8"?><project>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.19.1">
      <projectUrl>https://github.com/subutai-io/subos/</projectUrl>
      <displayName/>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.19.1">
      <spec/>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Preparing
tmp=/tmp/jenkins/${JOB_NAME}
mkdir -p $tmp

# ENV
URL=https://eu0.cdn.subut.ai:8338/kurjun/rest
filename="subutai_4.0.0_amd64-${GIT_BRANCH##origin/}.snap"

# get current file id
function jsonval {
    temp=`echo $json | sed 's/\\\\\//\//g' | sed 's/[{}]//g' | awk -v k="text" '{n=split($0,a,","); for (i=1; i&lt;=n; i++) print a[i]}' | sed 's/\"\:\"/\|/g' | sed 's/[\,]/ /g' | sed 's/\"//g' | grep -w $prop`
    echo ${temp##*|}
}

json=`curl -k -s -X GET $URL/file/info?name=$filename`
prop='id'
id=`jsonval`

# change export path
sed -i 's/\.\.\/export/\.\//' autobuild.sh

# build snap
out=( `./autobuild.sh -b` )

# rename builded file
version=$(echo ${out[4]//\'/}| cut -d '-' -f2 | cut -d '_' -f1)
mv ${out[4]//\'/} $tmp/$filename

#preparing data for uploader
echo "file=$tmp/$filename" &gt;&gt; env.properties
echo "version=$version" &gt;&gt; env.properties
echo "dir=raw" &gt;&gt; env.properties
echo "id=$id" &gt;&gt; env.properties
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>env.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>URL=https://eu0.cdn.subut.ai:8338/kurjun/rest
USER=jenkins
AUTHID=$(curl -k -s "$URL/auth/token?user=$USER" | gpg --clearsign --no-tty)
token=$(curl -k -s -Fmessage="$AUTHID" -Fuser=$USER "$URL/auth/token")

curl -s -k -Ffile=@$file -Fversion=$version -Ftoken=$token "$URL/$dir/upload"

# delete old file
curl -s -k -X DELETE "$URL/file/delete?id=$id&amp;token=$token"
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>