<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>#!groovy
node() {
agentVersion = sh (script: &quot;&quot;&quot;
    version=&apos;1.0.0-pre&apos;
    [[ &quot;\$version&quot; =~ (.*)([0-9]+)([^0-9]*)\$ ]] &amp;&amp; version=&quot;\${BASH_REMATCH[1]}\$((\${BASH_REMATCH[2]} + 1))\${BASH_REMATCH[3]}&quot;;
&quot;&quot;&quot;, returnStdout: true)
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>