<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.8">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.21">
    <script>node (){
	String debFileName = &quot;/tmp/jenkins/tempfile&quot;

	String url = &quot;https://eu0.cdn.subut.ai:8338/kurjun/rest&quot;
	String user = &quot;jenkins&quot;

	def authID = sh (script: &quot;&quot;&quot;
		set +x
		curl -s -k ${url}/auth/token?user=${user} | gpg --clearsign --no-tty
		&quot;&quot;&quot;, returnStdout: true)
	def token = sh (script: &quot;&quot;&quot;
		set +x
		curl -s -k -Fmessage=\&quot;${authID}\&quot; -Fuser=${user} ${url}/auth/token
		&quot;&quot;&quot;, returnStdout: true)

	String responseDeb = sh (script: &quot;curl -s -k https://eu0.cdn.subut.ai:8338/kurjun/rest/raw/info?name=tmpfile&quot;, returnStdout: true)
	sh &quot;curl -s -k -Ffile=@${debFileName} -Ftoken=${token} ${url}/raw/upload&quot;

	if (responseDeb != &quot;Not found&quot;) {
		def jsonDeb = jsonParse(responseDeb)	
		sh &quot;curl -s -k -X DELETE ${url}/apt/delete?id=${jsonDeb[&quot;id&quot;]}&apos;&amp;&apos;token=${token}&quot;
	}
}

@NonCPS
def jsonParse(def json) {
    new groovy.json.JsonSlurperClassic().parseText(json)
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>