<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@2.9.2">
      <branch class="jenkins.branch.Branch$Dead" plugin="branch-api@1.11.1">
        <sourceId>::NullSCMSource::</sourceId>
        <head plugin="scm-api@1.3">
          <name>cdn</name>
        </head>
        <scm class="hudson.scm.NullSCM"/>
        <properties class="java.util.concurrent.CopyOnWriteArrayList"/>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@2.9.2"/>
  <triggers/>
</flow-definition>