<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.27.0">
      <projectUrl>https://github.com/subutai-io/agent/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.3.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>def</name>
        <refspec>+refs/tags/*:refs/remotes/origin/tags/*</refspec>
        <url>https://github.com/subutai-io/agent</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/tags/*</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/subutai-io/agent</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>newsnap</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.exclusion.CriticalBlockStart plugin="Exclusion@0.12"/>
    <hudson.tasks.Shell>
      <command>set +x

export current_date=&quot;$(date +&quot;%F_%T&quot;)&quot;
export agent_version=&quot;$(git describe --abbrev=0 --tags)&quot;
export cdnHost=&quot;cdn.subutai.io&quot;
export release=&quot;&quot;

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

cd ../
git clone https://github.com/happyaron/subutai-agent
cp -r subutai-agent/debian/ agent/
echo &quot;Copied debian directory&quot;
export CWD=&quot;$(pwd)&quot;

echo &apos;VERSION is ${agent_version}&apos;
echo ${CWD}
cd ${CWD}/agent &amp;&amp; sed -i &apos;s/quilt/native/&apos; debian/source/format
cd ${CWD}/agent &amp;&amp; sed -i &apos;s/@cdnHost@/${cdnHost}/&apos; debian/tree/agent.conf
dch -v &apos;${agent_version}&apos; -D stable &apos;Test build for ${agent_version}&apos; 1&gt;/dev/null 2&gt;/dev/null

echo &quot;Build package .................&quot;
cd ${CWD}/agent
dpkg-buildpackage -rfakeroot
cd ${CWD} || exit 1
for i in *.deb; do
    echo &apos;\$i:&apos;;
    dpkg -c \$i;
done

echo &quot;Uploading .....................&quot;
cd ${CWD}
touch uploading_agent
scp uploading_agent subutai*.deb dak@deb.subutai.io:incoming/${release}/
ssh dak@deb.subutai.io sh /var/reprepro/scripts/scan-incoming.sh ${release} agent</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.33">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>