<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.8">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@2.9.2">
      <branch plugin="branch-api@1.11.1">
        <sourceId>0c542c4d-0e52-4155-9164-99a7e6c5fc53</sourceId>
        <head plugin="scm-api@1.3">
          <name>jenkinsfile</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
              <url>https://github.com/subutai-io/p2p.git</url>
              <credentialsId>hub-optdyn-github-auth</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/pull/*/head:refs/remotes/origin/pr/*</refspec>
              <url>https://github.com/subutai-io/p2p.git</url>
              <credentialsId>hub-optdyn-github-auth</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>jenkinsfile</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <hudson.plugins.git.extensions.impl.BuildChooserSetting>
              <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
            </hudson.plugins.git.extensions.impl.BuildChooserSetting>
          </extensions>
        </scm>
        <properties class="java.util.concurrent.CopyOnWriteArrayList"/>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@2.9.2"/>
  <triggers/>
</flow-definition>