<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.19.1">
      <projectUrl>https://github.com/subutai-io/base/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>https://github.com/subutai-io/base/</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches class="singleton-list">
      <hudson.plugins.git.BranchSpec>
        <name>dev</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.BuildChooserSetting>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
      </hudson.plugins.git.extensions.impl.BuildChooserSetting>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.19.1">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Preparing
tmp=/tmp/jenkins/${JOB_NAME}
mkdir -p $tmp

# ENV
URL=https://eu0.cdn.subut.ai:8338/kurjun/rest
filename=&quot;management-${GIT_BRANCH##origin/}.deb&quot;

# get current file id
function jsonval {
    temp=`echo $json | sed &apos;s/\\\\\//\//g&apos; | sed &apos;s/[{}]//g&apos; | awk -v k=&quot;text&quot; &apos;{n=split($0,a,&quot;,&quot;); for (i=1; i&lt;=n; i++) print a[i]}&apos; | sed &apos;s/\&quot;\:\&quot;/\|/g&apos; | sed &apos;s/[\,]/ /g&apos; | sed &apos;s/\&quot;//g&apos; | grep -w $prop`
    echo ${temp##*|}
}

json=`curl -k -s -X GET $URL/apt/info?name=$filename`
prop=&apos;md5Sum&apos;
id=`jsonval`

cd management

# build deb
mvn clean install -Dmaven.test.skip=true -P deb -Dgit.branch=${GIT_BRANCH##origin/}


# move builded file
#mv `ls server/server-karaf/target/*.deb` $tmp/$filename
find server/server-karaf/target/ -name &quot;*.deb&quot; | xargs -I {} mv {} $tmp/$filename

#preparing data for uploader
echo &quot;file=$tmp/$filename&quot; &gt; ../env.properties
echo &quot;id=$id&quot; &gt;&gt; ../env.properties
echo &quot;dir=apt&quot; &gt;&gt; ../env.properties
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>env.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>URL=https://eu0.cdn.subut.ai:8338/kurjun/rest
USER=jenkins
AUTHID=$(curl -s -k &quot;$URL/auth/token?user=$USER&quot; | gpg --clearsign --no-tty)
token=$(curl -s -k -Fmessage=&quot;$AUTHID&quot; -Fuser=$USER &quot;$URL/auth/token&quot;)

curl -s -k -Ffile=@$file -Ftoken=$token &quot;$URL/$dir/upload&quot;

# delete old file
curl -s -k -X DELETE &quot;$URL/apt/delete?id=$id&amp;token=$token&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Preparing
tmp=/tmp/jenkins/${JOB_NAME}
mkdir -p $tmp

# ENV
URL=https://eu0.cdn.subut.ai:8338/kurjun/rest
filename=&quot;management-subutai-template_4.0.0-${GIT_BRANCH##origin/}_amd64.tar.gz&quot;

# get current file id
function jsonval {
    temp=`echo $json | sed &apos;s/\\\\\//\//g&apos; | sed &apos;s/[{}]//g&apos; | awk -v k=&quot;text&quot; &apos;{n=split($0,a,&quot;,&quot;); for (i=1; i&lt;=n; i++) print a[i]}&apos; | sed &apos;s/\&quot;\:\&quot;/\|/g&apos; | sed &apos;s/[\,]/ /g&apos; | sed &apos;s/\&quot;//g&apos; | grep -w $prop`
    echo ${temp##*|}
}

json=`curl -k -s -X GET $URL/template/info?name=$filename`
prop=&apos;md5Sum&apos;
id=`jsonval`


# build template
ssh root@gw.intra.lan &quot;/apps/bin/subutai destroy management&quot;
#ssh root@gw.intra.lan &quot;/bin/rm /mnt/lib/lxc/tmpdir/management-subutai-template*&quot;
ssh root@gw.intra.lan &quot;/apps/bin/subutai clone openjre8 management&quot;
sleep 5
ssh root@gw.intra.lan &quot;/apps/bin/lxc-attach -n management -- apt update&quot;
ssh root@gw.intra.lan &quot;/apps/bin/lxc-attach -n management -- sync&quot;
ssh root@gw.intra.lan &quot;/apps/bin/lxc-attach -n management -- apt -y --force-yes install management-${GIT_BRANCH##origin/}&quot;
ssh root@gw.intra.lan &quot;/apps/bin/subutai export management -v 4.0.0-${GIT_BRANCH##origin/}&quot;

# move template to jenkins instance
ssh root@gw.intra.lan &quot;mv /mnt/lib/lxc/tmpdir/management-subutai-template_4.0.0-${GIT_BRANCH##origin/}_amd64.tar.gz /mnt/lib/lxc/jenkins/rootfs/$tmp/$filename&quot;

#preparing data for uploader
echo &quot;file=$tmp/$filename&quot; &gt; env.properties
echo &quot;id=$id&quot; &gt;&gt; env.properties
echo &quot;dir=template&quot; &gt;&gt; env.properties</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>env.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>URL=https://eu0.cdn.subut.ai:8338/kurjun/rest
USER=jenkins
AUTHID=$(curl -s -k &quot;$URL/auth/token?user=$USER&quot; | gpg --clearsign --no-tty)
token=$(curl -s -k -Fmessage=&quot;$AUTHID&quot; -Fuser=$USER &quot;$URL/auth/token&quot;)

curl -s -k -Ffile=@$file -Ftoken=$token &quot;$URL/$dir/upload&quot;

# delete old file
curl -s -k -X DELETE &quot;$URL/template/delete?id=$id&amp;token=$token&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>