<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>on request deployment</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.3.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/optdyn/p2p/</url>
        <credentialsId>hub-optdyn-github-auth</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/tags/*</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/optdyn/p2p/</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>ansible</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x
mkdir -p ${goenvDir}/src/github.com/optdyn/
ln -s ${workspace} ${workspace}/${goenvDir}/src/github.com/optdyn/p2p</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>set +x
export GOPATH=${workspace}/${goenvDir}
export GOBIN=${workspace}/${goenvDir}/bin
export PATH=${PATH}:/usr/local/go/bin
go get
make		</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>