<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.8">
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.21">
    <script>import groovy.json.JsonSlurperClassic

@NonCPS
def jsonParse(def json) {
    new groovy.json.JsonSlurperClassic().parseText(json)
}

node() {
	def mvnHome = tool &apos;M3&apos;
	
	stage(&apos;Build deb/template of management&apos;)
	String responseDeb = jsonParse(sh (script: &quot;curl -k https://eu0.cdn.subut.ai:8338/kurjun/rest/apt/info?name=management-dev.deb&quot;, returnStdout: true))
	println &quot;${responseDeb[&quot;id&quot;]}&quot;
	// responseDeb = null

	// responseTemplate = jsonParse(sh (script: &quot;curl -k https://eu0.cdn.subut.ai:8338/kurjun/rest/template/info?name=management-subutai-template_4.0.4-jenkinsfile_amd64.tar.gz&quot;, returnStdout: true))
	// id = response.id
	// println &quot;${id}&quot;
	String responseTemplate = jsonParse(sh (script: &quot;curl -k https://eu0.cdn.subut.ai:8338/kurjun/rest/template/info?name=management-subutai-template_4.0.4-jenkinsfile_amd64.tar.gz&quot;, returnStdout: true))
	println &quot;${responseTemplate[&quot;id&quot;]}&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>